{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1> About Us </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga ab numquam nisi modi accusantium unde, ratione, est quidem perspiciatis a excepturi dolores nam quos reprehenderit, officiis itaque quisquam praesentium quod?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/product.jpg" class="img-thumbnail">
    </div>

</div>
{{> footer }}